
#huntr-react-container-2 {
  display: none;
}

body {
  text-align: center;
  background-color: #d0e8f2;
  /* margin: 0; */
}

h2 {
  width: 20%;
  margin: 0 auto;
}

p {
  width: 20%;
  margin: 0 auto;
}

.top-container  {
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  top: 10px;
  right: auto;

}

.cloud {
  position: absolute;
  top: auto;
  left: auto;
  margin-left: 80px;
}

